@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ul{
  list-style: none;
}
.container{
  width: 100%;
  /* height: 80vh; */
  /* background-color: aquamarine; */
  display: flex;
}

.left-section{
  width: 22%;
  /* height: 100vh; */
  color: #fff;
  background-color: #000;
  padding: 0.5%;
}

.box1{
  width: 100%;
  height: 22vh;
  background-color: #121212;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: larger;
  border-radius: 10px;
}

.box2{
  margin-top: 10px;
  width: 100%;
  background-color: #121212;
  border-radius: 10px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#library{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: 15px;
}
.content-box1{
  width: 100%;
  height: 18vh;
  background-color: #242424;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5%;
}
.content-box1 h6{
  font-size: medium;
}
.content-box1 p{
  font-size: small;
}
.content-box1 button{
  border: none;
  background-color: #fff;
  width: 50%;
  height: 25%;
  border-radius: 20px;
}

.content-box2{
  width: 100%;
  height: 18vh;
  background-color: #242424;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5%;
}
.content-box2 h6{
  font-size: medium;
}
.content-box2 p{
  font-size: small;
}
.content-box2 button{
  border: none;
  background-color: #fff;
  width: 50%;
  height: 25%;
  border-radius: 20px;
}

#cookies{
  font-size: small;
  margin: 5%;
}

#btn{
  border: 2px solid #fff;
  color: #fff;
  width: 30%;
  height: 6%;
  background: transparent;
  border-radius: 20px;
  margin-bottom: 10%;
  margin-left: 5%;
}
/* ----------------------------------------------------------------------------------------------------- */
.right-section{
  width: 78%;
  height: 100vh;  /* comment*/
  background-color: aqua;
  padding: 0.5%;
  padding-left: 0;
}

.header{
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5%;
  background-color: #242424;
  font-size: larger;
  border-radius: 10px 10px 0px 0px;
}
.header a{
  color: gray;
  text-decoration: none;
}
.header a:hover{
  color: #fff;
}
.header button{
  border: none;
  background-color: #fff;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  font-size: large;
}

